
.shopping-list-container {
  max-width: 1200px;
  margin: 100px auto;
  font-family: Arial, sans-serif;
}

.cart-header, .cart-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  padding: 15px 0;
  text-align: center;
}

.cart-item{
  border-bottom: 1px solid #818181;
}

.cart-header {
  border-bottom: 2px solid #818181;
  font-weight: bold;
}

.text-orange {
  color: #ff702c;
}

.scroll{
  width: 100%;;
  max-height: 675px;
  overflow-y: auto;
}

.scroll::-webkit-scrollbar{
  width: 5px;
}

.scroll::-webkit-scrollbar-thumb{
  background-color: #ff8c00;
  font-size: 14px;
}


.product-info {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 15px;
}

.product-img {
  /* width: auto;
  height: auto; */
  max-width: 120px;
  max-height: 150px;
  object-fit: cover;
}

.quantity-control button {
  border: none;
  background: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.quantity-control button:hover {
  transform: scale(1.2);
}
.fa-circle-xmark:hover {
  transform: scale(1.2);
}


.remove-btn {
  color: #ff702c;
  cursor: pointer;
  margin-left: 10px;
}


.checkout-btn {
  background-color: #ff702c;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.checkout-btn:hover {
  background-color: #e65f22;
}

@media (max-width: 767px) {

  .cart-header {
    display: none;
  }

.text-center{
  margin-top: 120px !important;
}


.cart-item-sm {
  margin-bottom: 10px;
  background-color: #fff;
  width: 95%;
  margin: 10px auto;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
}

.col-8{
  width: 70% ;
}

.col-4{
  margin: auto;
  max-height: 150px;
  max-width: 120px;
}


.product-img {
  min-height: auto !important;
  min-width: auto !important;
}

.product-name {
  color: #333;
  line-height: 1.2;
  max-width: 85%;
}


.remove-btn {
  color: #dc3545;
  cursor: pointer;
  font-size: 1.2rem;
  transition: transform 0.2s;
}

.remove-btn:hover {
  transform: scale(1.1);
}


.quantity-control {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 2px 10px;
  margin-bottom: 10px;
}

.quantity-control .btn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: bold;
}

.quantity-control span {
  margin: 0 12px;
  min-width: 20px;
  text-align: center;
}


.text-orange {
  color: #ff6b00 !important;
}


.text-secondary {
  font-size: 0.85rem !important;
  margin-top: 10px;
}

  .checkout {
    max-width: 80% !important;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }


}
