
<!-- <div class="cont px-3">
<div class="card-container">
  <div class="image-section">
    <div class="diagonal-bg"></div>
    <img src="./../../../assets/imeges/frappa.png" class="product-img">
  </div>

  <div class="details-section">
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="title">Mango Colada Boba</h2>
        <div class="price2 d-block d-md-none text-end">{{ totalPrice }} <span>LE</span></div>
      </div>
      <div>
        <h3>Our Signature</h3>
        <p class="description">Mango and coconut cream with boba.</p>
      </div>
    <div class="scroll">
      <div>
    <div class="option-group">
      <h4>Extras</h4>
      <div class="chips">
        <button
          *ngFor="let extra of extras; let i = index"
          class="chip"
          [class.active]="extra.selected"
          (click)="toggleExtra(i)">
          {{ extra.name }} <span>({{ extra.price }})</span>
        </button>
      </div>
    </div>
    <div class="option-group">
      <h4>Sugar Level <span class="required">*</span></h4>
      <div class="chips">
        <button
          *ngFor="let level of sugarLevels"
          class="chip"
          [class.active]="selectedSugar === level"
          (click)="selectSugar(level)">
          {{ level }} (0)
        </button>
      </div>
    </div>
    <div class="option-group">
  <h4>Ice Level <span class="required">*</span></h4>
  <div class="chips">
    <button
      *ngFor="let level of iceLevels"
      class="chip"
      [class.active]="selectedIce === level"
      (click)="selectIce(level)">
      {{ level }} (0)
    </button>
  </div>
    </div>
    <div class="option-group">
  <h4>Ice Level <span class="required">*</span></h4>
  <div class="chips">
    <button
      *ngFor="let level of iceLevels"
      class="chip"
      [class.active]="selectedIce === level"
      (click)="selectIce(level)">
      {{ level }} (0)
    </button>
  </div>
    </div>
    <div class="option-group">
  <h4>Ice Level <span class="required">*</span></h4>
  <div class="chips">
    <button
      *ngFor="let level of iceLevels"
      class="chip"
      [class.active]="selectedIce === level"
      (click)="selectIce(level)">
      {{ level }} (0)
    </button>
  </div>
    </div>
  </div>
</div>
    <div class="footer">
      <div class="price">{{ totalPrice }} <span>LE</span></div>
      <button class="add-btn">Add To Cart</button>
    </div>
  </div>
</div>
</div> -->


<div class="cont px-3" *ngIf="product">
  <div class="card-container">
    <div class="image-section">
      <div class="diagonal-bg"></div>
      <img [src]="product.images" class="product-img" [alt]="product.nameEn">
    </div>

    <div class="details-section">
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="title">{{ product.name }}</h2>
        <div class="price2 d-block d-md-none text-end">{{ product.oldPrice }} <span>LE</span></div>
      </div>
      <div>
        <h3>{{ product.category.name }}</h3>
        <p class="description">{{ product.ingredients }}</p>
      </div>
      <div class="scroll">
        <div>


          <div class="option-group" *ngFor="let group of product.groups">
            <h4>{{group.name}}
              <span class="required-dot text-danger" *ngIf="group.isRequired">*</span>
            </h4>

            <div class="chips">
              <button *ngFor=" let option of group.options"
                class="chip"
                [class.active]="isOptionSelected(group.name, option)"
                (click)="toggleExtra(group.name , option)">
                {{ option.name }}
                <span *ngIf="option.price > 0"> ({{ option.price }})</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="price">{{ product.newPrice }} <span>LE</span></div>
      <div *ngIf="showNotification" class="notification"
          [ngClass]="{
        'error-bg': isError,
        'success-bg': !isError,
        'shake-animation': isError}">
        {{ notificationMessage }}
        </div>
        <button class="add-btn" (click)="addToCart()">Add To Cart</button>
      </div>
    </div>
  </div>
</div>


