
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
}
.Logo{
    width: 70px;
}
.search {
    width: 75% !important;
    border-radius: 20px;
    overflow: hidden;
}

.color-orange {
    color: #000;
}

.border-orange {
    cursor: pointer;
    border: 1px solid #000000;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: #fff;
    box-shadow: -2px 0 10px #0000001a;
    transition: transform .5s ease-in-out,-webkit-transform .5s ease-in-out;
    z-index: 1050;
    overflow-y: auto;
    padding-top: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar.open {
  left: 0;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  display: none;
}

.sidebar-overlay.active {
  display: block;
}


.sidebar-item {
  padding: 10px 15px;
  border-radius: 8px;
}

.sidebar-item:hover {
  background-color: #f8f9fa;

}
.click {
    background-color: #f47524;
    border-radius: 8px;
    color: #fff;
}

.bi-cart2{
  cursor: pointer;
}

.category-name {
    font-weight: 700;
    font-size: 16px;
    display: block;
    transition: padding-right .3s;
}

li.sidebar-item {
    color: #444;
    transition: all .3s ease;
}
.sidebar ul li{
    padding: 12px 16px;
    display: flex;
    align-items: center;
    transition: all .2s ease-in-out;
    border-radius: 8px;
}

.sidebar ul li i {
    margin-left: 10px;
    font-size: 1.1rem;
}

@media (max-width: 768px) {
    .Logo {
        position: absolute;
        width: 90px;
        left: 50%;
        transform: translate(-50%);
    }

    .gap-md-3 {
        gap: 1rem !important;
    }

}
