<!-- <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="bi bi-droplet-fill text-info"></i> Bubble Hope
    </a>
    <div class="navbar-nav">
      <a class="nav-link" href="#"><i class="fas fa-home"></i> الرئيسية</a>
      <a class="nav-link" href="#"><i class="bi bi-info-circle"></i> عن المشروع</a>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-light shadow-sm py-md-2 p-1 pb-2" dir="ltr">
  <div
    class="d-flex flex-row justify-content-between align-items-center bg-wight p-0 m-0 px-md-3 py-md-2 py-3 w-100 disktop"
  >
    <div
      class="d-flex align-items-center justify-content-between gap-md-3 gap-1 p-0 m-0"
    >
      <button
        (click)="toggleSidebar()"
        class="bi bi-list fs-4 color-orange border-orange rounded-3 bg-white me-2"
      ></button>
      <img
        src="./../../../assets/imeges/Logo.png"
        alt="logo"
        routerLink=""
        class="Logo pointer d-none d-md-block"
        tabindex="0"
      />
    </div>
    <img
      src="./../../../assets/imeges/Logo.png"
      alt="logo"
      routerLink=""
      class="Logo pointer d-block d-md-none mb-1"
      tabindex="0"
    />
    <div class="search-wrapper search d-none d-md-block p-0 m-0">
      <div class="input-group rounded-0 w-100 border-0">
        <input
          type="text"
          (input)="onSearch($event)"
          #searchInput
          class="form-control border-0 bg-light rounded-4 ng-untouched ng-pristine ng-valid"
          placeholder="search ..."
        />
      </div>
    </div>
    <div class="d-flex align-items-center gap-md-3 gap-1 p-0 m-0">
      <div class="language-switcher position-relative">
        <button
          class="bi bi-globe fs-4 color-orange border-orange bg-white rounded-3"
        ></button>
      </div>
      <a class="nav-link p-0">
        <i routerLink="/cart" class="bi bi-cart2 color-orange fs-3"></i>
      </a>
    </div>
  </div>
  <div class="d-md-none d-block w-100">
    <div class="search-wrapper p-0 m-0 w-100">
      <div class="input-group w-100 border-0">
        <input
          type="text"
          name="search"
          class="form-control border-0 bg-light rounded-4 ng-untouched ng-pristine ng-valid"
          placeholder="search ..."
          style="text-align: left"
        />
      </div>
    </div>
  </div>
</nav>

<div
  class="sidebar-overlay"
  [class.active]="isSidebarOpen"
  (click)="toggleSidebar()"
></div>

<div class="sidebar bg-white shadow" [class.open]="isSidebarOpen" dir="ltr">
  <div
    class="d-flex justify-content-between align-items-center px-3 py-2 border-bottom"
  >
    <button class="btn btn-light border-0" (click)="toggleSidebar()">
      <i class="bi bi-x-lg fs-5"></i>
    </button>
    <img src="./../../../assets/imeges/Logo.png" alt="logo" class="Logo" />
    <div class="language-switcher position-relative">
      <button class="bi bi-globe fs-4 rounded-3"></button>
    </div>
  </div>
<ul class="list-unstyled px-3 mt-3">
<li class="mb-2 sidebar-item fs-5" style="cursor: pointer" (click)="toggleBranches()">
  <i class="bi bi-pin-map me-2"></i>
  Branches
  <i class="bi float-end bi-chevron-left arrow-icon" [class.open]="isBranchesOpen"></i>
</li>

  <ul class="list-unstyled ps-4" *ngIf="isBranchesOpen">
    <li *ngFor="let branch of branches"
        class="fs-6 fw-normal category-name mb-1"
        [class.active-branch]="selectedBranchId === branch.id"
        (click)="onBranchSelect(branch)">
      <i class="bi bi-geo-alt-fill me-1"></i>
      {{ branch.name }}
    </li>
  </ul>
</ul>
</div>
