

.btn-outline-orange {
    white-space: nowrap;
    background-color: white;
    flex-shrink: 0;
    padding: 8px 20px;
    border: 1px solid #ff8c00;
    color: #ff8c00;
    transition: all 0.3s ease;
}

.btn-outline-orange.active {
    background-color: #ff8c00;
    color: white;
}


.overflow-auto::-webkit-scrollbar {
    display: none;
}
.overflow-auto {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.btn-outline-orange:hover, .btn-outline-orange.active {
  background-color: #fd7e14;
  color: white;
}

.card {
  cursor: pointer;
  transition: transform 0.2s;
  border: 1px solid #eee !important;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img{
  height: 200px;

}
img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-title{
  font-weight: 600;
}

.card-text{
  opacity: 0.7;
}

.container-fluid{
  margin-top: 75px;
  /* height: 100vh;
  background-image: url(./../../../assets/imeges/1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}


.text-muted {
  background-color: white;
  width: 50%;
  height: 100px;
  margin: auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;

}


@media screen and (max-width: 768px) {
.container-fluid{
  margin-top: 100px !important;
}

}
